ES_URL=http://localhost:9200
ES_UID=elastic_user
ES_PW=elastic_password
ES_INDEX=publications-test
OUTFILE_CSV=results
QUERY=maritime marine shipping seafood aquaculture blue bioeconomy ocean currents wrecks ships boats
FETCH_FIELDS=Id,Title,IdentifierDoi[0],Year,PublicationType.NameEng
START_YEAR=2020
POOL_SIZE=100
